* {
  font-family: JetBrainsMono Nerd Font, feather;
  font-weight: 900;
  font-size: 12px;
  color: #c0caf5;
  min-height: 10px;
}

/* Set background color of main waybar window */
window#waybar {
  background: rgba(21, 22, 30, 0.5);
  /* background: red; */
}

/* Set background color of tooltips */
tooltip {
  background: #1e1e2e;
}

/* Set workspace text color and padding */

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 2px;
  margin-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: #414868;
  padding-left: 7px;
  padding-right: 7px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background: #414868;
  padding-left: 7px;
  padding-right: 7px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}


/* Sets background, padding, margins, and borders for (all) modules */
#network,
#battery,
#bluetooth,
#custom-kernel,
#custom-pacman,
#workspaces,
#clock,
#window,
#temperature,
#cpu,
#memory,
#pulseaudio,
#tray,
#taskbar,
#custom-notification,
#custom-calendar,
#custom-gpu,
#mpd {
  /* background: rgba(21, 22, 30, 0.7); */
  background: #24283b;
  padding: 0 10px;
  margin: 6px 0 3px 0;
  border: 0;
}

#workspaces {
  border-radius: 9px;
  margin-left: 6px;
  padding: 2px;
}


#taskbar button {
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  padding-left: 8px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button.active {
  background: #414868;
  padding-left: 8px;
  padding-right: 5px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
  background: #414868;
  padding-left: 8px;
  padding-right: 5px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}


#taskbar {
  border-radius: 9px;
  margin-left: 10px;
  padding: 2px;
}

#taskbar.empty {
  background: transparent;
}

/* Set up rounding to make these modules look like separate pills */
#mpd {
  border-radius: 9px;
  margin-left: 5px;
}

#custom-notification {
  border-radius: 9px 0 0 9px;
}

#clock {
  border-radius: 9px 0 0 9px;
  margin-left: 6px;
}

#custom-calendar {
  border-radius: 0 9px 9px 0;
  padding-left: 0;
}

#custom-fedora {
  padding: 0 10px;
  padding-right: 15px;
  color: #7aa2f7;
  border-radius: 9px;
  background: #24283b;
  margin: 6px 0 3px 6px;
}

#tray {
  border-radius: 9px;
  margin-right: 6px;
}

#window {
  border-radius: 9px;
}

/* Rounding only on left of module */
#temperature {
  border-radius: 8px 0 0 8px;
}

/* Rounding only on right of module(s) */
#custom-pacman,
#custom-kernel {
  border-radius: 0 8px 8px 0;
}

#battery {
  padding-right: 0;
}

#custom-power {
  padding: 0 10px;
  padding-right: 13px;
  background-color: #24283b;
  border-radius: 0 9px 9px 0;
  color: #7aa2f7;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-right: 6px;
}

/* #battery {
  padding-right: 4px;
  border-radius: 0 9px 9px 0;
}

#custom-power {
  padding: 0 10px;
  padding-right: 13px;
  background-color: #24283b;
  border-radius: 9px;
  color: #7aa2f7;
  margin-top: 6px;
  margin-bottom: 3px;
  margin-right: 6px;
  margin-left: 6px;
} */